img{
    height:75px;
    width:75px;
    border-radius: 50%;
    object-fit: cover;
}
article{
    display:grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.75rem;
    margin-bottom: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}