section{
    width: 90vw;
    margin:0 auto;
    max-width:1170px;
}
main{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.container{
    width:90vw;
    max-width: 620px;
    margin:5rem auto;
    background: white;
    border-radius: 0.25rem;
    padding:2.5rem 2rem;
    display:grid;
    gap:1rem 2rem;
}
.container h3{
    line-height:1.2;
    font-weight: 500;
    
}
body{
    background: #4b145b;
    color: hsl(209,61%,16%);
}