.single-tour{
    border-radius: 0.25rem;
    margin:2rem 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: all 0.3s linear;
    background:#fff;
}
.single-tour:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.8);
}
.single-tour img{
    width:100%;
    height:20rem;
    object-fit: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.tour-info{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:1.5rem;
}
.tour-info h4{
    margin-bottom: 0;
}
.single-tour button{
    background:transparent;
    border-color: transparent;
    text-transform: capitalize;
    font-size:1rem;
    cursor:pointer;
    padding-left: 0.25rem;
    color:hsl(205,78%,60%);

}
.single-tour footer{
    padding:1.5rem 2rem;
}
.single-tour .delete-btn{
    display: block;
    width:200px;
    margin:1rem auto 0 auto;
    background:transparent;
    padding:0.25rem 0.5rem;
    border-radius: 0.25rem;
    color:hsl(360,67%,44%);
    border:1px solid hsl(360,67%,44%) ;
}